.contact-container {
  margin: 20px;
  height: auto;
  flex-direction: column;
  display: flex;
  .contact {
    font-size: 30px;
    padding-bottom: 20px;
    color: #232528ca;
  }
  .contact-top {
    padding-bottom: 10px;
    flex-direction: row;
    display: flex;
    > * {
      color: #232528ab;
      padding-right: 10px;
    }
  }
  .contact-bottom {
    color: #232528ab;
    flex-direction: row;
    display: flex;
    > * {
      padding-right: 10px;
    }
  }
}
