.about-container {
  .about-header {
    display: flex;
    background-color: #232528b7;
    height: auto;
    align-items: center;
    .about-header-contents {
      padding: 30px;
      margin-top: 10px;
      margin-left: 80px;
      margin-right: 50px;
      .about-title {
        font-weight: 500;
        font-size: 50px;
        color: #ffcd00;
      }
      .about-description {
        line-height: 30px;
        padding-top: 60px;
        font-weight: 200;
        font-size: 25px;
        color: #ffcd00;
        > * {
          color: #800000;
          font-weight: 200;
        }
      }
    }
  }
  .about-mission {
    display: flex;
    height: auto;
    .about-mission-content {
      margin-top: 75px;
      margin-left: 80px;
      margin-right: 80px;
      .about-mission-title {
        font-size: 50px;
        font-weight: 300;
        color: #9e0000;
      }
      .about-mission-statement {
        color: #232528;
        padding-top: 50px;
        line-height: 38px;
        font-size: 30px;
        font-weight: 200;
        > * {
          color: #9e0000;
        }
      }
    }
  }
  .about-container-img {
    display: flex;

    margin-top: 50px;
    margin-bottom: 10px;
    .about-img {
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      height: 70%;
    }
  }
}
